body 
{
	font-family: sans-serif;
	text-align: center;
	font-size: 10;	
	margin: 0;
	padding: 0;
	background-image: url(wp2053691.jpg);
	background-size: cover;
	background-position: center;
} 

.submissionform 
{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
	font-size: 10;
}
.submissionform 
{
	margin-bottom: 5px;
	margin-bottom: 5px;
}

.Box
{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width:100%;
	border: 1px solid #999;
	outline: none;
	
}

button
{
	color: #FFFFFF;
	width:100%;
	padding: 10px;
	border-radious: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn
{
	background-color: #1c8adb;
}